<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{title}} - LearningX Mentor</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <meta property="og:title" content="LearningX Mentor" />
    <meta property="og:description" content="We are LearningX Mentor" />
    <meta property="og:image" content="{{url_for('static', filename='img/logo/96-x-80.png')}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/png">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='img/logo/96-x-80.png')}}" rel="icon">
    <link href="{{url_for('static', filename='img/logo/96-x-80.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{url_for('static', filename='css/auth_style.css')}}" rel="stylesheet">

    <!-- https://www.youtube.com/watch?v=of02YNdBxSc OR https://www.youtube.com/watch?v=U69WL9jInW0 -->
</head>

<body>
    <main>
        <div class="box rounded-4 bg-white">
            <div class="inner-box">
                <div class="forms-wrap">
                    <form action="/login" method="post" autocomplete="off" class="sign-in-form">
                        <div class="logo">
                            <img src="{{url_for('static', filename='img/logo/Take-you-the-next-Level-color.png')}}"
                                alt="LearningX Logo" />
                        </div>

                        <div class="heading my-2">
                            <h2>Login</h2>
                            <p>Not registered yet?&nbsp;<a href="#" class="toggle">Sign up</a></p>
                        </div>

                        <div class="my-2">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>

                        <div class="d-grid my-2">
                            <input class="btn btn-danger btn-lg fw-bold" type="submit" value="Login" />
                        </div>

                        <a href="#" class="lx-link my-2">Forgot password</a>
                    </form>

                    <form action="/register" method="post" autocomplete="off" class="sign-up-form">
                        <div class="logo">
                            <img src="{{url_for('static', filename='img/logo/Take-you-the-next-Level-color.png')}}"
                                alt="LearningX Logo" />
                        </div>

                        <div class="heading my-2">
                            <h2>Register</h2>
                            <p>Already have an account?&nbsp;<a href="#" class="toggle">Sign in</a></p>
                        </div>

                        <div class="my-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="Isi nama lengkap anda">
                                <label for="floatingInput">Full Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>

                        <div class="d-grid my-2">
                            <input class="btn btn-danger btn-lg fw-bold" type="submit" value="Register" />
                        </div>
                    </form>
                </div>

                <div class="banner rounded-4">
                    <img src="{{url_for('static', filename='img/mentor-lx.jpg')}}" alt="Mentor LearningX" />
                </div>
            </div>
        </div>
    </main>

    <!-- Vendor JS Files -->
    <script src="{{url_for('static', filename='vendor/aos/aos.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/waypoints/noframework.waypoints.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='js/auth.js')}}"></script>
</body>

</html>