<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{title}} - LearningX Mentor</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <meta property="og:title" content="LearningX Mentor" />
    <meta property="og:description" content="We are LearningX Mentor" />
    <meta property="og:image" content="{{url_for('static', filename='img/logo/96-x-80.png')}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/png">

    <!-- Favicons -->
    <link href="{{url_for('static', filename='img/logo/96-x-80.png')}}" rel="icon">
    <link href="{{url_for('static', filename='img/logo/96-x-80.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/remixicon/remixicon.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html" class="logo me-auto">
                <img src="{{url_for('static', filename='img/logo/Take-you-the-next-Level-color.png')}}" alt=""
                    class="img-fluid"></a>

            <!-- ======= Navbar ======= -->
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto {% if title=='Home' %} active {% endif %}" href="/">Home</a></li>
                    <li><a class="nav-link scrollto {% if title=='About' %} active {% endif %}" href="/about">About Us</a></li>
                    <li><a class="nav-link scrollto {% if title=='Mentors' %} active {% endif %}" href="/mentors">Mentor's Profile</a></li>
                    <li><a class="nav-link scrollto {% if title=='Contact' %} active {% endif %}" href="/contact">Contact</a></li>

                    <li><a class="getstarted scrollto" href="/login">Login</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- End Navbar -->

        </div>
    </header>
    <!-- End Header -->