{% include 'header.html' %}

  <main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Mentors</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-6 my-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='img/team/Bang Iqbal.png')}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Iqbal Mahatma Putra</h4>
                <span>Lead Mentor</span>
                <p>Pekanbaru, Riau</p>
                <div class="social">
                  <a href=""><i class="ri-google-fill"></i></a>
                  <a href=""><i class="ri-github-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 my-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='img/team/Bang Miftah.png')}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Miftachul Huda</h4>
                <span>Lead Mentor</span>
                <p>Pekanbaru, Riau</p>
                <div class="social">
                  <a href=""><i class="ri-google-fill"></i></a>
                  <a href=""><i class="ri-github-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 my-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='img/team/Anwar.png')}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mhd. Anwar</h4>
                <span>Mentor</span>
                <p>Pekanbaru, Riau</p>
                <div class="social">
                  <a href=""><i class="ri-google-fill"></i></a>
                  <a href=""><i class="ri-github-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 my-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='img/team/Egy.png')}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Egy Dya Hermawan</h4>
                <span>Mentor</span>
                <p>Pekanbaru, Riau</p>
                <div class="social">
                  <a href=""><i class="ri-google-fill"></i></a>
                  <a href=""><i class="ri-github-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 my-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='img/team/Ronanda.png')}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ronanda Saputra</h4>
                <span>Mentor</span>
                <p>Pekanbaru, Riau</p>
                <div class="social">
                  <a href=""><i class="ri-google-fill"></i></a>
                  <a href=""><i class="ri-github-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 my-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='img/team/Yasmin.png')}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Yasmin Nadhifa Umayro</h4>
                <span>Mentor</span>
                <p>Pekanbaru, Riau</p>
                <div class="social">
                  <a href=""><i class="ri-google-fill"></i></a>
                  <a href=""><i class="ri-github-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Team Section -->

  </main><!-- End #main -->

{% include 'footer.html' %}